$color-black: #333f48;
$color-red: #b61a12;
$bg-header: #f7f8fa;
$bg-header-menu: #fff;
$color-white: #fff;
$color-gray: #686868;
$color-dark-black: #1f2026;
$color-footer: #24355a;
$color-light-gray: #f7f8fa;
$color-scrollbar: #e0e0e0;
$color-div-no-product: #fcf8e3;
$ipad-pro: 1025px;
$ipad: 769px;
$ip6plus: 415px;
$ip5: 321px;
