.introduction {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    &__link {
        @include flexbox(flex-start, wrap, row);
        padding: 1.5rem 0;

        li {
            @include flexbox-vertical-center();
            margin-right: 1rem;
            font-size: 1.4rem;
        }

        li:hover {
            a {
                color: $color-red;
            }
        }

        a {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    &__content {
        padding: 3.5rem 0;

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }
}
