.sale-product {
    padding-bottom: 4rem;
    overflow: hidden;
    @include Responsive(ip5) {
        padding-bottom: 2rem;
    }

    &__item {
        text-align: center;
        position: relative;
        padding-top: 1rem;
        &:hover {
            .sale-product__form {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__img {
        margin-bottom: 1rem;
        text-align: center;
        position: relative;
        a {
            outline: none;
            display: inline-block;
            img {
                width: 95%;
                margin: 0 auto;
            }
        }

    }

    &__form {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;

        button {
            border-radius: 50%;
            border: none;
            width: 40px;
            height: 40px;
            font-size: 2.3rem;
            background-color: $color-white;
            outline: none;
            cursor: pointer;
        }

        button:not(:last-child) {
            margin-right: 5px;
        }

        button:hover {
            background-color: $color-red;
            color: $color-white;
        }

    }

    &__name {
        text-transform: capitalize;
        margin-bottom: 2.5rem;
        font-size: 1.3rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        @include Responsive(ipad) {
            font-size: 1.1rem;
        }
        @include Responsive(ip6plus) {
            font-size: 1rem;
        }
    }

    &__price {
        span:first-child {
            font-size: 2.5rem;

            @include Responsive(ipad) {
                font-size: 2rem;
            }
            @include Responsive(ip6plus) {
                font-size: 1.5rem;
            }
        }

        span:last-child {
            font-size: 1.3rem;
        }
    }

    &__label {
        position: absolute;
        top: 0;
        right: 5%;
        span,
        span:before,
        span:after {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: $color-red;
        }

        span:before,
        span:after {
            content: "";
            position: absolute;
            top: 0;
            right: 5%;
        }

        span {
            color: $color-white;
            z-index: 2;
            font-size: 1.4rem;
            font-weight: 600;
            animation: zoom 1s ease infinite alternate;
        }

        span:before {
            transform: rotate(30deg);
            z-index: -1;
        }

        span:after {
            transform: rotate(60deg);
            z-index: -1;
        }
    }
}
